<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Aero Control</title>
    <script src="/static/jquery-3.6.0.min.js"></script>
    <script src="/static/chart.umd.js"></script>
    <style>
        body { font-family: Arial, sans-serif; margin: 30px; }
        h1 { margin-bottom: 20px; }
        .data-box { margin-top: 20px; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='orange-racer.png') }}">
</head>
<body>
    <h1><img src="/static/clemson.png" alt="clemson-paw" class="clemson-paw">Active Aero Control</h1>
    <main>

        <section class="sensor-data">
            <div style="margin-top: 20px;">
                <button id="calibrationButton" onclick="calibrate()">Calibrate</button>
                <div id="calibrationIndicator" style="
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: gray;
                    display: inline-block;
                    margin-left: 10px;">
                </div>
                <p id="calibrationStatus"></p>
            </div>
            <h2>Sensor Data</h2>
            <div id="sensorData">Loading...</div>
        </section>

        <section class="servo-controls">
            <h2>Control</h2>
            <label for="modeToggle">Manual Mode</label>
            <input class="modeToggle" type="checkbox" id="modeToggle" checked>

            <label for="wingSliderSplitter" id="wingSliderSplitter-label">Split Wing</label>
            <input type="checkbox" id="wingSliderSplitter">

            <label for="roofSliderSplitter" id="roofSliderSplitter-label">Split Roof</label>
            <input type="checkbox" id="roofSliderSplitter">

            <div id="manualControls">
                <div id="wingAngle">
                    <label for="wingAngleSlider" class="slider-label">Wing Angle: <span id="currentAngle0">0</span>°</label>
                    <input type="range" id="wingAngleSlider" min="0" max="180" value="0">
                </div>
            
                <div id="wingLeft" style="display: none;">
                    <label for="wingLeftSlider" class="slider-label">Wing Left Angle: <span id="currentAngle1">0</span>°</label>
                    <input type="range" id="wingLeftSlider" min="0" max="180" value="0">
                </div>
            
                <div id="wingRight" style="display: none;">
                    <label for="wingRightSlider" class="slider-label">Wing Right Angle: <span id="currentAngle2">0</span>°</label>
                    <input type="range" id="wingRightSlider" min="0" max="180" value="0">
                </div>
            
                <div id="roofAngle">
                    <label for="roofSlider" class="slider-label">Roof Angle: <span id="currentAngle3">0</span>°</label>
                    <input type="range" id="roofSlider" min="0" max="180" value="0">
                </div>
            
                <div id="roofLeft" style="display: none;">
                    <label for="roofSliderLeft" class="slider-label">Roof Left Angle: <span id="currentAngle4">0</span>°</label>
                    <input type="range" id="roofSliderLeft" min="0" max="180" value="0">
                </div>

                <div id="roofRight" style="display: none;">
                    <label for="roofSliderRight" class="slider-label">Roof Right Angle: <span id="currentAngle5">0</span>°</label>
                    <input type="range" id="roofSliderRight" min="0" max="180" value="0">
                </div>
            
            </div>

            <div id="autoModeInfo" hidden>
                <canvas id="chart" width="70%" height="50%"></canvas>
            </div>

        </section>
        
        <section class="logs">
            <div style="margin-top: 20px;">
                <button id="toggleLogging">Enable Logging</button>
            </div>
            
            <h2>Available Log Files <i onclick="loadLogs()" class="refresh-button fas fa-sync-alt"></i></h2>
            
            <div class="log-list-container">
                <ul id="logList">
                    <li>Loading...</li>
                </ul>
            </div>
        </section>    
        
        <!--section class="graphing">
            <div style="margin-top: 20px;">
            </div>
            <h2>Graphing</h2>
            <div id="graphData">Loading...</div>
        </section-->
    </main>      

    <script>
        // set the slider background color dynamically as the thumb moves
        const slider1 = document.getElementById("wingAngleSlider");
        const slider2 = document.getElementById("wingLeftSlider");
        const slider3 = document.getElementById("wingRightSlider");
        const slider4 = document.getElementById("roofSlider");
        const slider5 = document.getElementById("roofSliderLeft");
        const slider6 = document.getElementById("roofSliderRight");

        var loggingEnabled = false;
        var isCalibrating = false;
        var sensorIntervalId = null;

        function updateSliderBackground(slider) {
            const val = (slider.value - slider.min) / (slider.max - slider.min) * 100;
            slider.style.background = `linear-gradient(to right, #F58A3D ${val}%, #F5D8C4 ${val}%)`;
        }

        slider1.addEventListener("input", function() {
            updateSliderBackground(this);
        });
        
        slider2.addEventListener("input", function() {
            updateSliderBackground(this);
        });
        
        slider3.addEventListener("input", function() {
            updateSliderBackground(this);
        });
        
        slider4.addEventListener("input", function() {
            updateSliderBackground(this);
        });

        slider5.addEventListener("input", function() {
            updateSliderBackground(this);
        });
        
        slider6.addEventListener("input", function() {
            updateSliderBackground(this);
        });

        var ctx = document.getElementById('chart').getContext('2d');
        var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
            label: 'Angle1',
            data: [],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
            }, {
            label: 'Angle2',
            data: [],
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
            }, {
            label: 'Angle3',
            data: [],
            backgroundColor: 'rgba(255, 206, 86, 0.2)',
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1
            }, {
            label: 'Angle4',
            data: [],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
            }]
        },
        options: {
        scales: {
            y: {
                ticks: {
                    callback: function(value, index, ticks) {
                        return value + '°';
                    
                    }
                }
            }
        }
        }});

        function getcurrentTime() {
            const date = new Date();
            return `${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`;
        }

        const numPoints = 10
        // we want to create a sliding window to only display somewhat live data
        function updateChartData(data) {
            // remove old data points
            chart.data.labels.splice(0, chart.data.labels.length - numPoints);
            chart.data.datasets[0].data.splice(0, chart.data.datasets[0].data.length - numPoints);
            chart.data.datasets[1].data.splice(0, chart.data.datasets[1].data.length - numPoints);
            chart.data.datasets[2].data.splice(0, chart.data.datasets[2].data.length - numPoints);
            chart.data.datasets[3].data.splice(0, chart.data.datasets[3].data.length - numPoints);

            // add data point
            chart.data.labels.push(getcurrentTime());
            chart.data.datasets[0].data.push(data.Angle1);
            chart.data.datasets[1].data.push(data.Angle2);
            chart.data.datasets[2].data.push(data.Angle3);
            chart.data.datasets[3].data.push(data.Angle4);

            chart.update();
        }
        // handle mode toggle. hide slider depending on mode
        $("#modeToggle").change(function() {
            let checked = $(this).is(":checked");
            if (checked) {
                $("#manualControls").show();
                $("#autoModeInfo").hide();
                $.post("/set_mode", { mode: "manual" });
            } else {
                $("#manualControls").hide();
                $("#autoModeInfo").show();
                $.post("/set_mode", { mode: "auto" });
            }
        });

        $("#wingSliderSplitter").change(function() {
            let checked = $(this).is(":checked");
            if (checked) {
                $("#wingAngle").hide();
                $("#wingLeft").show();
                $("#wingRight").show();
            } else {
                $("#wingAngle").show();
                $("#wingLeft").hide();
                $("#wingRight").hide();
            }
        });

        $("#roofSliderSplitter").change(function() {
            let checked = $(this).is(":checked");
            if (checked) {
                $("#roofAngle").hide();
                $("#roofLeft").show();
                $("#roofRight").show();
            } else {
                $("#roofAngle").show();
                $("#roofLeft").hide();
                $("#roofRight").hide();
            }
        });

		// scale the value of 0-40 degrees to 0-180 degrees to control the backend servos
		function scaleValue(value) {
		  return Math.round(value / 4.5); // mapping from 40 to 180
		}
		
        // Update wing angle when the slider is moved
        $("#wingAngleSlider").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle0").text(scaleValue(angle));
            $.post("/set_wing_servos", { angle: angle });
        });

        // Update servo 1 angle when the first slider is moved
        $("#wingRightSlider").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle2").text(scaleValue(angle));
            $.post("/set_servo_0", { angle: angle });
        });

        // Update servo 2 angle when the second slider is moved
        $("#wingLeftSlider").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle1").text(scaleValue(angle));
            $.post("/set_servo_1", { angle: angle });
        });
        
		// update the roof angle
        $("#roofSlider").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle3").text(scaleValue(angle));
            $.post("/set_roof_servos", { angle: angle });
        });

        // Update servo 3 angle when the slider is moved
        $("#roofSliderLeft").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle4").text(scaleValue(angle));
            $.post("/set_servo_2", { angle: angle });
        });

        // Update servo 4 angle when the slider is moved
        $("#roofSliderRight").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle5").text(scaleValue(angle));
            $.post("/set_servo_3", { angle: angle });
        });

        // calibrate button
        function calibrate() {
            isCalibrating = true;
            clearInterval(sensorIntervalId);
            sensorIntervalId = null;

            $("#calibrationIndicator").css("background-color", "orange");
            $("#calibrationButton").prop("disabled", true);
            $("#calibrationStatus").text("Calibrating...");
            $.post("/calibrate", function(response) {
                $("#calibrationStatus").text("Calibration success.");
                $("#calibrationButton").prop("disabled", false);
                $("#calibrationIndicator").css("background-color", "green");
                isCalibrating = false;

            }).fail(function() {
                $("#calibrationStatus").text("Calibration failed: " + response.message);
                $("#calibrationButton").prop("disabled", false);
                $("#calibrationIndicator").css("background-color", "red");
                isCalibrating = false;
            });
            sensorIntervalId = setInterval(updateSensorData, 300); // restart the interval
        }
        // end calibrate button

        // pad values so they align visually
        function pad(value) {
            return value.toString().padStart(6, ' ');
        }

        // get sensor data to update the display
        function updateSensorData(){
            if (isCalibrating) return; // skip fetching during calibration

            $.getJSON("/sensor", function(data){
                // render some html
                var html = "<p><strong>Accelerometer:</strong><br>" +
                "X: " + pad(data.accel_x.toFixed(2)) + "<br>" +
                "Y: " + pad(data.accel_y.toFixed(2)) + "<br>" +
                "Z: " + pad(data.accel_z.toFixed(2)) + "</p>";
                html += "<p><strong>Gyroscope:</strong><br>" +
                "X: " + pad(data.gyro_x.toFixed(2)) + "<br>" +
                "Y: " + pad(data.gyro_y.toFixed(2)) + "<br>" +
                "Z: " + pad(data.gyro_z.toFixed(2)) + "</p>";

                $("#sensorData").html(html);
                
                // html = "<p><strong>Angles:</strong><br>" +
                //         "Angle1: " + pad(data.Angle1.toFixed(2)) + "<br>" +
                //         "Angle2: " + pad(data.Angle2.toFixed(2)) + "<br>" +
                //         "Angle3: " + pad(data.Angle3.toFixed(2)) + "<br>" +
                //         "Angle4: " + pad(data.Angle4.toFixed(2)) + "</p>";
                // $("#angle-data").html(html);

                updateChartData(data)
            });
        }

        // logging button
        $("#toggleLogging").on("click", function() {
            loggingEnabled = !loggingEnabled;

            // button text
            $(this).text(loggingEnabled ? "Disable Logging" : "Enable Logging");

            // Send POST to Flask
            $.post("/set_logging", { logging: loggingEnabled ? "on" : "off" });
        });
        // end logging button

        // list logs
        function loadLogs() {
            $.getJSON("/logs", function(files) {
                if (files.length === 0) {
                $("#logList").html("<li>No logs available</li>");
                return;
                }

                let html = "";
                files.forEach(function(file) {
                html += `<li><a href="/logs/view/${file}" target="_blank">${file}</a></li>`;
                });
                $("#logList").html(html);
            });
        }

        // Initialize on page load
        updateSliderBackground(slider1);
        updateSliderBackground(slider2);    
        updateSliderBackground(slider3);
        updateSliderBackground(slider4);
        updateSliderBackground(slider5);
        updateSliderBackground(slider6);
        
        loadLogs();
        // calibrate();
                
        </script>
    </body>
</html>
