<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Aero Control</title>
    <script src="/static/jquery-3.6.0.min.js"></script>
    <style>
        body { font-family: Arial, sans-serif; margin: 30px; }
        h1 { margin-bottom: 20px; }
        .data-box { margin-top: 20px; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <h1>Active Aero Control</h1>
     
    <main>
        <section class="servo-controls">
            <h2>Manual Mode
                    <label for="modeToggle">
                        <input type="checkbox" id="modeToggle" checked>
                    </label>
            </h2>
            <div>
                <label for="wingAngleSlider">Wing Angle:</label>
                <input type="range" id="wingAngleSlider" min="0" max="180" value="0">
                <span id="currentAngle0">0</span>°
            </div>
            <div>
                <label for="wingLeftSlider">Wing Left Angle:</label>
                <input type="range" id="wingLeftSlider" min="0" max="180" value="0">
                <span id="currentAngle1">0</span>°
            </div>
            <div>
                <label for="wingRightSlider">Wing Right Angle:</label>
                <input type="range" id="wingRightSlider" min="0" max="180" value="0">
                <span id="currentAngle2">0</span>°
            </div>
            <div>
                <label for="roofSlider">Roof Angle:</label>
                <input type="range" id="roofSlider" min="0" max="180" value="0">
                <span id="currentAngle3">0</span>°
            </div>
            <div>
                <label for="roofSliderLeft">Roof Left Angle:</label>
                <input type="range" id="roofSliderLeft" min="0" max="180" value="0">
                <span id="currentAngle4">0</span>°
            </div>
            <div>
                <label for="roofSliderRight">Roof Right Angle:</label>
                <input type="range" id="roofSliderRight" min="0" max="180" value="0">
                <span id="currentAngle5">0</span>°
            </div>
        
        </section>

        <section class="sensor-data">
            <div style="margin-top: 20px;">
                <button onclick="calibrate()">Calibrate</button>
                <p id="calibrationStatus"></p>
            </div>
            <h3>Sensor Data</h3>
            <div id="sensorData">Loading...</div>
        </section>
        <section class="graphing">
            <div style="margin-top: 20px;">
            </div>
            <h3>Graphing</h3>
            <div id="graphData">Loading...</div>
        </section>
        <section class="logs">
            <div style="margin-top: 20px;">
                <button id="toggleLogging">Enable Logging</button>
            </div>
            <h3>Available Log Files <i onclick="loadLogs()" class="refresh-button fas fa-sync-alt"></i></h3>
            <ul id="logList">
                <li>Loading...</li>
            </ul>
        </section>      
    </main>      

    <script>
        // set the slider background color dynamically as the thumb moves
        const slider1 = document.getElementById("wingAngleSlider");
        const slider2 = document.getElementById("wingLeftSlider");
        const slider3 = document.getElementById("wingRightSlider");
        const slider4 = document.getElementById("roofSlider");
        const slider5 = document.getElementById("roofSliderLeft");
        const slider6 = document.getElementById("roofSliderRight");

        let loggingEnabled = false;
        let isCalibrating = false;
        let intervalID = null;

        function updateSliderBackground(slider) {
            const val = (slider.value - slider.min) / (slider.max - slider.min) * 100;
            slider.style.background = `linear-gradient(to right, #F58A3D ${val}%, #F5D8C4 ${val}%)`;
        }

        slider1.addEventListener("input", function() {
            updateSliderBackground(this);
        });
        
        slider2.addEventListener("input", function() {
            updateSliderBackground(this);
        });
        
        slider3.addEventListener("input", function() {
            updateSliderBackground(this);
        });
        
        slider4.addEventListener("input", function() {
            updateSliderBackground(this);
        });

        slider5.addEventListener("input", function() {
            updateSliderBackground(this);
        });
        
        slider6.addEventListener("input", function() {
            updateSliderBackground(this);
        });

        // handle mode toggle. hide slider depending on mode
        $("#modeToggle").change(function() {
            let manual = $(this).is(":checked");
            if (manual) {
                $("#manualControls").show();
                $.post("/set_mode", { mode: "manual" });
            } else {
                $("#manualControls").hide();
                $.post("/set_mode", { mode: "auto" });
            }
        });

        // Update servo angle when the slider is moved
        $("#wingAngleSlider").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle0").text(angle);
            $.post("/set_both_servos", { angle: angle });
        });

        // Update servo 1 angle when the first slider is moved
        $("#wingRightSlider").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle2").text(angle);
            $.post("/set_servo_0", { angle: angle });
        });

        // Update servo 2 angle when the second slider is moved
        $("#wingLeftSlider").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle1").text(angle);
            $.post("/set_servo_1", { angle: angle });
        });

        $("#roofSlider").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle3").text(angle);
            $.post("/set_both_servos", { angle: angle });
        });

        // Update servo 2 angle when the second slider is moved
        $("#roofSliderLeft").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle4").text(angle);
            $.post("/set_servo_2", { angle: angle });
        });

        // Update servo 2 angle when the second slider is moved
        $("#roofSliderRight").on("input change", function(){
            var angle = $(this).val();
            $("#currentAngle5").text(angle);
            $.post("/set_servo_3", { angle: angle });
        });

        // Poll the sensor endpoint every second to update the display
        function updateSensorData(){
            if (isCalibrating) return; // skip fetching during calibration

            $.getJSON("/sensor", function(data){
                var html = "<p><strong>Accelerometer:</strong><br>" +
                "X: " + data.accel_x.toFixed(2) + "<br>" +
                "Y: " + data.accel_y.toFixed(2) + "<br>" +
                "Z: " + data.accel_z.toFixed(2) + "</p>";
                html += "<p><strong>Gyroscope:</strong><br>" +
                "X: " + data.gyro_x.toFixed(2) + "<br>" +
                "Y: " + data.gyro_y.toFixed(2) + "<br>" +
                "Z: " + data.gyro_z.toFixed(2) + "</p>";
                $("#sensorData").html(html);
            });
        }

        function startSensorUpdates() {
            intervalID = setInterval(updateSensorData, 200);
        }

        function stopSensorUpdates() {
            if (intervalID !== null) {
                clearInterval(intervalID);
                intervalID = null;
            }
        }


        // logging button
        $("#toggleLogging").on("click", function() {
            loggingEnabled = !loggingEnabled;

            // button text
            $(this).text(loggingEnabled ? "Disable Logging" : "Enable Logging");

            // Send POST to Flask
            $.post("/set_logging", { logging: loggingEnabled ? "on" : "off" });
        });
        // end logging button

        // calibrate button
        function calibrate() {
            isCalibrating = true;
            clearInterval(intervalID);
            intervalID = null;

            $("#calibrationButton").prop("disabled", true);
            $("#calibrationStatus").text("Calibrating...");
            $.post("/calibrate", function(response) {
                $("#calibrationStatus").text("Calibration success.");
            }).fail(function() {
                $("#calibrationStatus").text("Calibration failed.");
                $("#calibrationButton").prop("disabled", false);
            });
            isCalibrating = false;
            intervalID = setInterval(updateSensorData, 500);
        }

        // list logs
        function loadLogs() {
            $.getJSON("/logs", function(files) {
                if (files.length === 0) {
                $("#logList").html("<li>No logs available</li>");
                return;
                }

                let html = "";
                files.forEach(function(file) {
                html += `<li><a href="/logs/view/${file}" target="_blank">${file}</a></li>`;
                });
                $("#logList").html(html);
            });
        }

        // Initialize on page load
        updateSliderBackground(slider1);
        updateSliderBackground(slider2);    
        updateSliderBackground(slider3);
        updateSliderBackground(slider4);
        updateSliderBackground(slider5);
        updateSliderBackground(slider6);
        
        loadLogs();
        // calibrate();

        startSensorUpdates();
                
        </script>
    </body>
</html>
